dialog.live-preview {
    background: @blp__dialog-background;
    border: none;
    border-radius: @indent__xs;
    color: @blp__dialog-color;
    margin-top: @indent__s;
    max-height: 80vh;
    max-width: 600px;
    min-width: 400px;
    overflow: auto;
    padding: @indent__m 0;
    text-align: left !important;
    z-index: @modal__z-index;

    &[open] + .tooltip {
        position: relative;

        &:after {
            border-bottom: 5px solid @blp__dialog-background;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            bottom: @indent__s *-1;
            content: '';
            height: 0;
            left: 50%;
            opacity: .8;
            position: absolute;
            transform: translateX(-50%);
            width: 0;
        }
    }

    p {
        margin-bottom: @indent__s;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    aside {
        margin: 0 @indent__m;
    }

    .counter {
        background: @blp__dialog-color;
        border-radius: 100%;
        box-sizing: content-box;
        color: @blp__dialog-background;
        font-size: @font-size__l;
        height: @font-size__l;
        line-height: 1;
        padding: @indent__xs;
        text-align: center;
        width: @font-size__l;
    }

    ul,
    ol {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .store-views {
        .counter {
            position: absolute;
            right: @indent__m;
        }

        > ol {
            margin: 0 (@indent__m *-1);
        }

        li {
            label,
            a {
                background: @blp__dialog-background-item;
                display: block;
                height: 100%;
                margin: @border-width 0;
                padding: @indent__m;
                padding-left: ~ 'calc(@{indent__m} * var(--depth, 1))';
                width: 100%;
            }

            label {
                opacity: .7;
            }

            a {
                font-weight: @font-weight__bold;

                &:hover {
                    background: @blp__dialog-background-item-hover;
                }
            }
        }
    }

    .details {
        .counter {
            display: inline-block;
            margin-right: @indent__xs;
        }

        p {
            padding: 0;
        }

        .action-back {
            color: @active__color;
        }

        pre {
            background: @blp__dialog-background-item;
            border: 1px solid @blp__dialog-background-item-hover;
            border-radius: @indent__s;
            margin: @indent__s 0;
            padding: @indent__s;
        }

        img {
            margin: @indent__m auto;
        }

        ol {
            align-items: stretch;
            column-gap: @indent__s;
            display: flex;
            flex-flow: row nowrap;

            li {
                flex-basis: 50%;

                * {
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
}
