@blp__dialog-color: @color-white;
@blp__dialog-background: @color-very-dark-grayish-orange;
@blp__dialog-background-item: darken(@blp__dialog-background, 10%);
@blp__dialog-background-item-hover: darken(@blp__dialog-background-item, 10%);
