<span class="tooltip">
    <button
        type="button"
        class="page-builder-viewport"
        click="onPreviewClick"
    >
        <img data-bind="attr: { src: srcIcomoonFeed }" draggable="false" aria-hidden="true"/>
    </button>
    <span class="tooltip-content">
        <span class="tooltip-label" translate="'Live Preview'"></span><br/>
        <span translate="'View your content with browser'"></span><br/>
    </span>
</span>
<dialog afterRender="bindDialog">
    <span translate="'Stores'"></span>
    <ol>
        <li each="data: Object.values(stores), as: '$store'">
            <text args="$store.name"></text>
            (<text args="$parent.getConnectionCount($store.code)"></text>)
        </li>
    </ol>
</dialog>
