<dialog class="live-preview" afterRender="bindDialog">
    <aside class="store-views" visible="storeShown() === false">
        <with args="storeOptionsComponent">
            <render></render>
        </with>
    </aside>
    <aside class="details" visible="storeShown">
        <p><a class="action-back" href="#" click="() => setStoreActive(null)" translate="'← back'"></a></p>
        <p><strong><text args="storeActive()?.name"></text> (<text args="storeViewCounter()[storeActive()?.code] || 0"></text>)</strong></p>
        <p translate="'Link below is live preview, open in the browser'"></p>
        <pre><text args="previewLink"></text></pre>
        <div afterRender="bindQrElement"></div>
        <ol>
            <li>
                <button type="button" class="action-secondary" click="copyLink" translate="copyStatus"></button>
            </li>
            <li><a data-bind="attr: { href: previewLink }" target="_blank" class="action-primary"
                   translate="'Open 🔗'"></a></li>
        </ol>
    </aside>
</dialog>
<span class="tooltip">
    <button
        type="button"
        class="page-builder-viewport"
        click="onPreviewClick"
    >
        <img data-bind="attr: { src: srcIcomoonFeed }" draggable="false" aria-hidden="true"/>
    </button>
</span>
